<footer class="coc-footer" role="contentinfo">
  <div class="coc-footer-container">

    <div class="row">
      <div class="col-12 col-md-auto">
        <a class="coc-footer-logo" href="/">
          <img src="/assets/images/coc-footer-logo.png" class="img-fluid"  alt="city of chandler">
        </a>
      </div>

      <div class="col pl-md-0">
        <div class="coc-footer-menu row">
          <div class="coc-footer-contact col-12 col-md-auto">
            <p>Official Website of the City of Chandler, Arizona</p>
            <p><a href="tel:1-480-782-2000">480-782-2000</a></p>
          </div>
    
          <div class="col-12 col-md-auto text-md-right ml-md-auto mt-md-3">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="/contact-chandler-form">Contact</a></li>
              <li class="list-inline-item"><a href="/accessibility-policy">Accessibility</a></li>
            </ul>
            <a class="coc-scroll-top" href="#" title="Scroll to top">
              <img src="/assets/images/scroll-top.png" class="img-fluid"  alt="Scroll to top">
            </a>
          </div>
        </div>
    
        <div class="coc-footer-copyright row">
          <div class="col-12 col-md-auto">
            <p>© 2018 Copyright Chandler, Arizona. All Rights Reserved.</p>
          </div>
          <div class="col-12 col-md-auto ml-md-auto">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="/sitemap">Sitemap</a></li>
              <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</footer>