<div class="jumbotron jumbotron-fluid pt-2 pb-3">
  <div class="jumbotron-container">
    <h1 class="display-3 text-uppercase text-center">Business Registration & Renewal</h1>
    <wizard-progress-bar></wizard-progress-bar>
  </div>
</div>
  
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 mt-4 mb-6">
      <h2 class="h3 font-weight-normal">Answer "Yes" or "No" to the following questions:</h2>
      <p class="coc-font-size-14 mb-2">Toggle right to answer "yes". Answer all questions then click continue.</p>
      <div class="custom-control custom-switch coc-custom-control-right mb-1">
        <input type="checkbox" class="custom-control-input" id="liquor">
        <label class="custom-control-label" for="liquor">Will you sell liquor?</label>
      </div>
      <div class="custom-control custom-switch coc-custom-control-right mb-1">
        <input type="checkbox" class="custom-control-input" id="secondHandGoods">
        <label class="custom-control-label" for="secondHandGoods">Will your business buy/sell used or second hand goods?</label>
      </div>
      <div class="custom-control custom-switch coc-custom-control-right mb-1">
        <input type="checkbox" class="custom-control-input" id="doorToDoor">
        <label class="custom-control-label" for="doorToDoor">Will you conduct door to door sales?</label>
      </div>
      <div class="custom-control custom-switch coc-custom-control-right mb-1">
        <input type="checkbox" class="custom-control-input" id="massageServices">
        <label class="custom-control-label" for="massageServices">Will you offer massage services?</label>
      </div>
      <div class="custom-control custom-switch coc-custom-control-right">
        <input type="checkbox" class="custom-control-input" id="nonProfitSolicitor">
        <label class="custom-control-label" for="nonProfitSolicitor">Are you a non-profit solicitor?</label>
      </div>
      <div class="mt-3">
        <a href="#" class="btn btn-previous disabled">Back</a>
        <a routerLink="/wizard/business-additional-info" class="btn btn-next ml-3">Continue</a>
      </div>
    </div>
  </div>
</div>