<div class="jumbotron jumbotron-fluid pt-2 pb-3">
    <div class="jumbotron-container">
      <h1 class="display-3 text-uppercase text-center">Business Registration & Renewal</h1>
      <wizard-progress-bar [progress]="progress"></wizard-progress-bar>
    </div>
  </div>
    
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 mt-4 mb-6">
        <h2 class="h3 font-weight-normal">Is your business engaged in any of the following:</h2>
        <p class="coc-font-size-14 mb-2">Click all that apply to your business then click continue.</p>
        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" class="custom-control-input" id="bingo">
          <label class="custom-control-label" for="bingo">Bingo</label>
        </div>
        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" class="custom-control-input" id="offTrackBetting">
          <label class="custom-control-label" for="offTrackBetting">Off track betting</label>
        </div>
        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" class="custom-control-input" id="sob">
          <label class="custom-control-label" for="sob">SOB</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="escort">
          <label class="custom-control-label" for="escort">Escort</label>
        </div>
        <div class="mt-3">
          <a href="#" class="btn btn-previous disabled">Back</a>
          <a href="#" class="btn btn-next disabled ml-3">Continue</a>
        </div>
      </div>
    </div>
  </div>