
<app-navbar></app-navbar>

<main>
  <div class="container py-6">
    <h1>
      {{ title }}
    </h1>
    <p>Here are some links to help you start:</p>
    <ul>
      <li>
        <a target="_blank" rel="noopener" href="https://angular.io/cli">Angular CLI</a>
      </li>
      <li>
        <a target="_blank" rel="noopener"
          href="https://getbootstrap.com/docs/4.2/getting-started/introduction/">Bootstrap</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://valor-software.com/ngx-bootstrap/#/documentation">NGX
          Bootstrap</a>
      </li>
    </ul>
  </div>
</main>

<app-footer></app-footer>

<router-outlet></router-outlet>
