.custom-control-label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.custom-control {

  &.coc-custom-control-right {
    padding-left: 0;

    .custom-control-label {
      width: 100%;
      padding-right: $custom-control-gutter + $custom-control-indicator-size;

      &::before {
        left: auto;
        right: 0;
      }
    
      &::after {
        left: auto;
        right: ($custom-control-gutter + $custom-control-indicator-size);
      }
    }
  }
}

.custom-switch {

  &.coc-custom-control-right {
    padding-left: 0;

    .custom-control-label {
      padding-right: $custom-switch-width + $custom-control-gutter;

      &::before {
        left: auto;
        right: 0;
      }
    
      &::after {
        left: auto;
        
        @if ($custom-control-indicator-border-width == 0) {
          right: $custom-control-indicator-size;
        } @else {
          right: calc(#{$custom-control-indicator-size} + #{$custom-control-indicator-border-width * 2});
        }
      }
    }
  }

  .custom-control-label {

    &::after {
      content: "No";
      color: $white;
      line-height: $custom-control-indicator-size;
      text-align: center;
      background-color: $danger;

      @if ($custom-control-indicator-border-width == 0) {
        top: ($font-size-base * $line-height-base - $custom-control-indicator-size) / 2;
        left: -($custom-switch-width + $custom-control-gutter);
      }
    }
  }

  .custom-control-input:checked ~ .custom-control-label {

    &::before {
      background-color: $custom-control-indicator-bg;
    }

    &::after {
      content: "Yes";
      background-color: $success;
    }
  }
}
