.jumbotron {
  margin-bottom: 0;
  color: $white;
  background-image: $coc-gradient-redblue;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $white;
  }

  hr {
    border-top-color: $white;
  }

  .jumbotron-container {
    width: 100%;
    max-width: $coc-jumbotron-max-width;
    margin: 0 auto;
    padding: 0 ($grid-gutter-width * .5);
  }
}