//
// City of Chandler Custom Variables
//

$coc-blue:       #003c5c;
$coc-red:        #710036;
$coc-light-blue: #1a8ac0;
$coc-green:      #11a26f;
$coc-orange:     #f6a623;
$coc-light-grey: #f0f0f0;
$coc-grey:       #828282;
$coc-dark-grey:  #2d2f21;

$coc-gradient-green:   linear-gradient(-221deg, #02a8a8, #018888);
$coc-gradient-grey:    linear-gradient(#ffffff, #f0f0f0);
$coc-gradient-redblue: linear-gradient(to right, #710036, #1591b5);

$coc-navbar-max-width:          1200px;
$coc-footer-max-width:          1200px;
$coc-jumbotron-max-width:       900px;
$coc-small-container-max-width: 1000px;

//
// Bootstrap Variable Overrides
//

// Options

$enable-shadows: false;

// Colors

$colors: (
  "orange":     $coc-orange,
  "green":      $coc-green,
  "gray":       $coc-grey,
  "gray-dark":  $coc-dark-grey
);

$theme-colors: (
  "primary":    $coc-blue,
  "secondary":  $coc-red
);

// Spacing

$spacer: 1rem;
$spacers: (
  6: ($spacer * 6)
);

// Body

$body-color:             $coc-dark-grey;

// Fonts

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$font-size-base:         1.8rem;
$line-height-base:       1.333;

$h1-font-size:           5rem;
$h2-font-size:           4rem;
$h3-font-size:           3rem;
$h4-font-size:           2.6rem;
$h5-font-size:           2rem;
$h6-font-size:           1.6rem;

$headings-margin-bottom: $spacer;
$headings-font-weight:   600;
$headings-line-height:   1.2;
$headings-color:         $coc-blue;

$display3-size:          4.8rem;

// Grid containers

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1140px
);

// Components

$border-radius:          .25rem;

// Buttons

$btn-padding-y:          1.8rem;
$btn-padding-x:          2rem;

// Forms

$input-btn-border-width:         0;

$custom-control-gutter:          1rem;

$custom-control-indicator-size:  4rem;
$custom-control-indicator-bg:    #e7e7e7;

$custom-checkbox-indicator-indeterminate-bg:   $custom-control-indicator-bg;
$custom-checkbox-indicator-icon-indeterminate: none;

// Jumbotron

$jumbotron-padding:      3.5rem;
$jumbotron-bg:           $coc-red;